<a href="https://colab.research.google.com/github/YoonHyeJu/Coding-Test/blob/main/%EC%BD%94%ED%85%8C_%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **시간 측정**

In [1]:
import time

In [2]:
st_time = time.time() # 시작 시간

In [3]:
array = [1,2,3,4,5] # 예시 프로그램
sum=0
for i in array:
  sum += i

In [4]:
print(sum)

15

In [5]:
end_time = time.time() # 마침 시간

In [6]:
print("time:", end_time - st_time) # 소요 시간 출력

time: 0.03047347068786621

# 배열 초기화

In [7]:
a = [0 for i in range(10)]

In [8]:
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
#n*m의 2차원 리스트 초기화
m=5
n=5
a = [[0]*m for _ in range(n)]

In [10]:
print(a)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

# **리스트 관련 메소드**
- 변수명.append(): 리스트에 원소 하나를 삽입할 때 사용
- 변수명.sort(): 오름차순 정렬
- 변수명.sort(reverse=Ture): 내림차순 정렬
- insert(삽입할 위치 인덱스, 삽입할 값): 특정 위치에 원소를 삽입
- 변수명.count(특정값): 리스트에서 특정 값을 가지는 데이터 개수 카운트
- 변수명.remove(특정값): 특정 값을 갖는 원소 제거. 여러개 있어도 하나만.

In [11]:
a=[1,2,3,4]

In [12]:
a.append(5)
print(a)

[1, 2, 3, 4, 5]

In [13]:
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [14]:
remove_set = {3,5}

result = [i for i in a if i not in remove_set]
print(result)

[4, 2, 1]

# **문자열**

In [15]:
a ="Hello"
b = "Hyeju"

In [16]:
print(a+b)

HelloHyeju

In [17]:
print(a+" "+b)

Hello Hyeju

In [18]:
print(a*3)

HelloHelloHello

In [19]:
print(a[1:4])

ell

# **튜플 자료형**
- **서로 다른 성질의 데이터를 묶어서 관리해야 할 때 사용하면 좋다!**

ex) 최단 경로 알고리즘: (비용, 노드 번호) 형태
- **데이터의 나열을 해싱의 키 값으로 사용해야 할 때**
- **리스트보다 메모리를 효율적으로 사용해야 할 때**

In [20]:
a = (1,2,3,4,5,6,7,8,9)

In [21]:
print(a[3])

4

In [22]:
print(a[2:4])

(3, 4)

In [23]:
a[0] = 10

TypeError: ignored

# **사전 자료형**
- 키와 값의 쌍을 데이터로 가지는 자료형
- 데이터의 조회 및 수정

In [24]:
data = dict() #초기화

data["사과"] = "Apple"
data["바나나"] = "Banana"
data["포도"] = "Grape"

In [25]:
print(data)

{'사과': 'Apple', '바나나': 'Banana', '포도': 'Grape'}

In [26]:
if '사과' in data:
  print("사과를 키로 가지는 데이터가 존재함")

사과를 키로 가지는 데이터가 존재함

In [27]:
print(data["사과"])

Apple

In [28]:
key_list = list(data.keys())
print(key_list)

['사과', '바나나', '포도']

In [29]:
value_list = list(data.values())
print(value_list)

['Apple', 'Banana', 'Grape']

# **집합 자료형**
- 중복 허용 X
- 순서 X
- 리스트 혹은 문자열로 초기화. 이때 set() 사용
- 중괄호 {} 안에 원소 삽입

In [30]:
data=set([1,2,3,4,5,5,6,6,6]) # 초기화 방법 1
print(data)

{1, 2, 3, 4, 5, 6}

In [31]:
data = {1,2,2,3,4,4,5,5,5}
print(data)

{1, 2, 3, 4, 5}

# **기본 입출력**
- input(): 한 줄의 문자열을 입력 받는 함수
- map(): 리스트의 모든 원소에 각각 특정한 함수를 적용할 때 사용

In [32]:
n=int(input())

ValueError: ignored

In [ ]:
print(n)

In [ ]:
data=map(int,input().split())

In [ ]:
data= list(map(int, input().split()))

In [ ]:
print(data)

In [33]:
a,b = map(int, input().split())

ValueError: ignored

In [ ]:
print(a)
print(b)

In [ ]:
#사용자로부터 입력을 빠르게 받아야 하는 경우
import sys
data = sys.stdin.readline()

# 입력 후 엔터가 줄 바꿈 기호로 입력되므로 rstrip() 메서드 함께 사용

In [ ]:
a = 1
b = 2
print(a, b)

In [ ]:
print(7, end=" ") # end 사용하면 줄 바꿈 없이 출력됨  
print(8, end=" ")

# **함수**

def 함수명(매개변수):
    
    실행할 소스코드
    
    return 반환 값

In [34]:
def add(a,b):
  return a+b

In [35]:
result = add(3,7)
print(result)

10

In [36]:
#global 변수
a = 10

def func():
  global a
  a += 1
  print(a)

func()

11

# **람다 표현식**
- 특정한 기능을 수행하는 함수를 한 줄에 작성할 수 있음

In [37]:
#람다 표현식으로 구현한 add 메서드
print((lambda a,b: a+b)(3,7)) # 함수의 기능이 간단하거나, 한번 사용할 함수에 사용하면 좋음

10

In [38]:
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]

def my_key(x):
  return x[1]

print(sorted(array, key=my_key))
print(sorted(array, key=lambda x:x[1]))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]
[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [39]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

result = map(lambda a,b: a+b, list1, list2)

print(list(result))

[7, 9, 11, 13, 15]

# **실전에서 유용한 라이브러리**
- 내장 함수 ex) 기본 입출력, 정렬 함수
- itertools: 반복되는 형태의 데이터를 처리하기 위해 사용
  
  -> 순열과 조합 라이브러리가 자주 사용됨
- headq: 힙(Heap) 자료구조를 제공   
  -> 우선순위 큐 기능을 구현하기 위해 사용
- bisect: 이진 탐색 기능 제공
- collections: 덱(deque), 카운터(Counter) 등의 유용한 자료구조 포함
- math: 필수적인 수학적 기능 제공
  
  -> 팩토리얼, 제곱근, 최대공약수, 삼각함수 관련 함수, 파이 등..

In [40]:
#sum()
result = sum([1,2,3,4,5])
print(result)

#min(), max()
min_result = min([1,2,3,4,5])
print(min_result)

#eval()
result = eval("(3+5)*7")
print(result)

#sorted()
result = sorted([1,3,5,2,4])
print(result)
result = sorted([1,3,5,2,4], reverse=True)
print(result)

#sorted() with key
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]
result = sorted(array, key=lambda x: x[1], reverse=True)
print(result)

TypeError: ignored

# **순열과 조합**
순열: 서로 다른 n개에서 서로 다른 r개를 선택하여 일렬로 나열하는 것

조합: 서로 다른 n개에서 순서 상관없이 서로 다른 r개를 선택하는 것

In [41]:
# 순열
from itertools import permutations 

data = ['A', 'B', 'C']

result = list(permutations(data,3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [42]:
# 조합
from itertools import combinations

data = ['a', 'b', 'c']

result = list(combinations(data,2))
print(result)

[('a', 'b'), ('a', 'c'), ('b', 'c')]

In [43]:
# 중복 순열
from itertools import product

data = ['a','b','c']

result = list(product(data, repeat=2)) # 2개를 뽑는 모든 순열 구하기
print(result)

[('a', 'a'), ('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'b'), ('b', 'c'), ('c', 'a'), ('c', 'b'), ('c', 'c')]

In [44]:
# 중복 조합
from itertools import combinations_with_replacement

data = ['a','b','c']

result = list(combinations_with_replacement(data,2))
print(result)

[('a', 'a'), ('a', 'b'), ('a', 'c'), ('b', 'b'), ('b', 'c'), ('c', 'c')]